html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter";
}

#sidebar {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #40444C;
    padding: 1% 2%;
    color: #fff;
}

#friends-item-list {
    
}

.friend-item {
    background-color: #006383;
    height: 100px;
    width: 100%;
    margin: 5% 0;
}

.friend-image {
    float: left;
    height: 100%;
    width: 30%;
    background-color: #222222;
}

.friend-desc-wrapper {
    float: left;
    width: 64%;
    padding: 3%;
}

#main-content {
    width: 80%;
    height: 100%;
}
* {
    margin: 0;
    padding:0;
}

header nav {

    list-style-type: none;
    background-color: gray;
}

header nav li {
    margin-right: 15px;
    display: inline-block;
}


  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
